<h1>
  {{title}}
</h1>
<div>
  <button class="xxy">押してみな</button>
</div>
<div>
  <button (click)="onDoon()">どーん</button>
</div>
<div>
  <button (click)="onStartInterval()">START!</button>
  <button (click)="onStopInterval()">STOP!</button>
</div>
<div>
  <button class="abc">ABC</button>
  <button class="xyz">XYZ</button>
</div>
<div>
  <button class="mergeFes" (click)="onMergeFes()">mergeまつり</button>
</div>
<div>
  <button class="sumsum" (click)="onSumSum()">合計</button>
</div>
<div>
  <button (click)="onTake()"> take実験</button>
</div>

<div *ngFor="let m of messages">{{m}}</div>