<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <h1>{{title}} <small>Angular {{angular_version}}</small></h1>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-primary" (click)="onClearLog()">ログ消去</button>
    </div>
  </div>

  <div class="row">
    <alert type="md-local">hello (カスタムカラー)</alert>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">clickとdblclickの実験</h4>
        </div>
        <div class="panel-body">
          <button class="xxy btn btn-primary">押してみな</button>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">delay,map,concatの実験</h4>
        </div>
        <div class="panel-body">
          <button class="btn btn-primary" (click)="onDoon()">どーん（購読）</button>
          <button class="btn" (click)="onDoonUnsubscribe()">購読解除</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">1秒周期Observableの実験</h4>
        </div>
        <div class="panel-body">
          <button class="btn btn-primary" (click)="onStartInterval()">START!</button>
          <button class="btn btn-danger" (click)="onStopInterval()">STOP!</button>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">mapTo,distinctUntilChangedの実験</h4>
        </div>
        <div class="panel-body">
          <button class="abc btn">ABC</button>
          <button class="xyz btn">XYZ</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">mergeの実験</h4>
        </div>
        <div class="panel-body">
          <button class="mergeFes btn" (click)="onMergeFes()">mergeまつり</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="sumsum btn" (click)="onSumSum()">合計</button>
  </div>
  <div class="row">
    <button class="btn" (click)="onTake()">take実験</button>
  </div>

  <div class="row">
    <button class="cold_btn btn">COLD</button>
    <button class="btn" (click)="onSubscribe()">購読開始</button>
    <button class="btn" (click)="onUnsubscribe()">購読解除</button>
  </div>

  <div class="row">
    <button class="hot_btn btn">HOT</button>
    <button class="btn" (click)="onSubscribeHOT()">購読開始</button>
    <button class="btn" (click)="onUnsubscribeHOT()">購読解除</button>
    <button class="btn" (click)="onSubscribeHOT2()">購読開始2</button>
    <button class="btn" (click)="onUnsubscribeHOT2()">購読解除2</button>
  </div>
  <div class="row">
    <button class="btn" (click)="onSubjectNext()">subject.next()</button>
    <input [(ngModel)]="msgText">
    msgText:{{msgText}}
  </div>

  <div class="row">
    <ol>
      <li *ngFor="let m of messages">[{{m.time}}] <strong>{{m.msg}}</strong></li>
    </ol>
  </div>
</div>