<h1>
  {{title}}
</h1>
<h4>
  Angular {{angular_version}}
</h4>
<div>
  <button class="xxy">押してみな</button>
</div>
<div>
  <button (click)="onDoon()">どーん</button>
</div>
<div>
  <button (click)="onStartInterval()">START!</button>
  <button (click)="onStopInterval()">STOP!</button>
</div>
<div>
  <button class="abc">ABC</button>
  <button class="xyz">XYZ</button>
</div>
<div>
  <button class="mergeFes" (click)="onMergeFes()">mergeまつり</button>
</div>
<div>
  <button class="sumsum" (click)="onSumSum()">合計</button>
</div>
<div>
  <button (click)="onTake()">take実験</button>
</div>
<div>
  <button class="cold_btn">COLD</button>
  <button (click)="onSubscribe()">購読開始</button>
  <button (click)="onUnsubscribe()">購読解除</button>
</div>
<div>
  <button class="hot_btn">HOT</button>
  <button (click)="onSubscribeHOT()">購読開始</button>
  <button (click)="onUnsubscribeHOT()">購読解除</button>
  <button (click)="onSubscribeHOT2()">購読開始2</button>
  <button (click)="onUnsubscribeHOT2()">購読解除2</button>
</div>
<div>
  <button (click)="onSubjectNext()">subject.next()</button>
  <input [(ngModel)]="msgText">
  msgText:{{msgText}}
</div>

<div *ngFor="let m of messages">{{m}}</div>